body {
    background-color: #313030;
}

img {
    display: block;
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%)
}

input.search {
    display: block;
    position: fixed;
    width: 370;
    margin-top: 380;
    padding: 10px;
    top: 2%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #313030;
    color:white;
}

ul{
    list-style-type: none;
}

li {
    float: left;
    display: block;
    background-color: rgb(211, 203, 203);
    padding: 10px;

}
